<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/Librerias/jquery-3.3.1.min.js"></script>

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/grid/grid.min.css" rel="stylesheet" />

    <link href="~/Content/Alertifyjs/alertify.rtl.css" rel="stylesheet" />
    <link href="~/Content/Alertifyjs/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/Alertifyjs/alertify.css" rel="stylesheet" />
    <link href="~/Content/Alertifyjs/alertify.min.css" rel="stylesheet" />


    <script src="~/Scripts/Librerias/bootstrap.min.js"></script>
    <script src="~/Scripts/Librerias/alertify.js"></script>
    

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solu_Eventos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Solu_Eventos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    
                    <li>@Html.ActionLink("Ver Proveedores", "Index", "Proveedor")</li>
                    <li>@Html.ActionLink("Nuevo Proveedor", "NuevoProveedor", "Proveedor")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Solu_Eventos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
